* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 0 50px;
}

body > section {
  height: 100vh;
}

body > section .row {
  opacity: 0;
  transition: opacity 2s ease;
}

body > section .row.visible {
  opacity: 1;
}

/* Hero Section */
.hero-contents > * {
  margin: 25px 0;
}

/* Catatan Khusus: ATM */
.text-animation {
  display: flex;
  flex-wrap: wrap;
}

.text-animation > * {
  margin: 0;
}

.static-text {
  margin-right: 15px;
}

.text-animation .dynamic-text {
  padding: 0;
  line-height: 42px;
  height: 42px;
  overflow: hidden;
}

.text-animation .dynamic-text li {
  list-style: none;
  color: #ffc107;
  position: relative;
  top: 0;
  animation: slide 6s steps(2) infinite;
}

@keyframes slide {
  100% {
    top: -84px;
  }
}

.text-animation .dynamic-text li::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #212529;
  border-left: 2px solid #ffc107;
  animation: typing 3s steps(16) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 5px);
  }
}

.hero-sosmed > a {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;

  color: inherit;
  border: 2px solid #f8f9fa;
  border-radius: 50%;
  transition: color 0.5s, border-color 0.5s;
}
.hero-sosmed > a:hover {
  color: #ffc107;
  border-color: #ffc107;
}

.hero-contents > button {
  padding: 10px;
  border: 1px solid #ffc107;

  color: #ffc107;
  background-color: transparent;
  transition: color 0.5s, background-color 0.5s;
}
.hero-contents > button:hover {
  color: #212529;
  background-color: #ffc107;
}

.hero-profils img {
  box-shadow: 0 0 25px #ffc107;
  transition: box-shadow 2s;
}
.hero-profils img:hover {
  box-shadow: 0 0 75px #ffc107;
}

/* About Section */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .row .col > * {
  margin: 25px 0;
}

.about-content {
  text-align: justify;
}

/* Skill section */
#skill {
  display: flex;
  justify-content: center;
  align-items: center;
}

#skill .row > * {
  margin: 25px 0;
}

#skill-links a {
  cursor: pointer;
  font-size: 50px;
  padding: 20px;
  margin: 0 15px;

  color: inherit;
  border: 2px solid #f8f9fa;
  border-radius: 5%;
  transition: color 0.5s, border-color 0.5s;
}

#skill-links a:nth-child(1):hover,
#skill-links a:nth-child(1):focus {
  color: #ffc107;
  border-color: #ffc107;
}
#skill-links a:nth-child(2):hover,
#skill-links a:nth-child(2):focus {
  color: #062ef5;
  border-color: #062ef5;
}
#skill-links a:nth-child(3):hover,
#skill-links a:nth-child(3):focus {
  color: #ed3500;
  border-color: #ed3500;
}
#skill-links a:nth-child(4):hover,
#skill-links a:nth-child(4):focus {
  color: #06923e;
  border-color: #06923e;
}
